body, html{
    margin: 0;
    padding: 0;
    
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    height: 700px;
    width: 700px;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    grid-template-columns: repeat(16, 1fr);
    
    
}

.square {
    width: 100%;
    aspect-ratio: 1/1;
    border: thin;
    box-sizing: border-box;
}



.square.colored {
    background-color: purple;
}


.popup {
    display: none;
}
